    .transition {
        color: cadetblue;
        animation: App-logo-spin 20s linear;
    }

    @keyframes App-logo-spin {
        from {
            height: 0;
        }

        to {
            height: 100vh;
        }
    }