html body {
  /* background: linear-gradient(-45deg, #fdd835, #007c91, #23a6d5, #23d5ab); */
  background-color: rgb(240, 250, 255);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s ease-in-out infinite;
  animation: gradient 10s ease-in-out infinite;
  /* animation: App-logo-spin 10s linear infinite; */
}

.MuiDataGrid-root * {
  outline: none !important;
}

body .MuiList-root {
  background-color: rgba(255, 255, 255, 0.375);
}

/* defalut scrollbar styles global */
body *::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body *::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  transition: background-image 1.3s ease-out;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

body *::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(180deg, #708ad4 0%, #d0368a 99%);
  transition: background-image 1.3s ease-out;
}

body *::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.cc-BottomNavigation {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.App {
  text-align: center;
  /* padding-bottom: 10vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}